body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo{
  padding: 5px;
  font-size: 20px;
}

.todo span{
  float: right;
  cursor: pointer;
  height: 30px;
  width: 25px;
  padding: 2px;
  background: tomato;
  text-align: center;
}

input[type=text] {
  height: 50px;
  width: 40%;
  padding: 10px 12px;
  margin: 5px 15px;
  margin-left: -60px;
  box-sizing: border-box; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  border: 1px solid #404040;
  font-size: 24px;
}

form{
  padding: 10px;
  margin-left: 320px;
  max-width: 400px;
}
